.box {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(113, 145, 172);
  display: inline-block;
  background-color: rgb(211, 211, 212);
  cursor: pointer;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.finish {
  background-image: url(bullseye-solid.svg);
  background-repeat: no-repeat;
  text-align: center;
  cursor: grab;
}

.start {
  background-image: url(play-solid.svg);
  background-repeat: no-repeat;
  text-align: center;
  cursor: grab;
}

.wall {
  background-color: black;
}

.visited {
  background-color: #2a4e9c;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
}

@keyframes visitedAnimation {
  0% {
    background-color: rgb(95, 202, 188);
    border-radius: 150%;
  }
  50% {
    background-color: rgb(67, 67, 167);
    border-radius: 50%;
  }
  100% {
    background-color: #1e3669;
    border-radius: 0%;
  }
}

.path {
  background-color: rgb(99, 241, 80);
}

@media screen and (max-width: 1255px) {
  .box {
    width: 2%;
  }
}
